__pycache__/
*.pyc
.DS_Store
.mplconfig/fontlist-v*.json
CTA/example_outputs/*
!CTA/example_outputs/reference/
!CTA/example_outputs/reference/**
CTA/example_outputs/reference/*.igs
aircraft/.mplconfig/
aircraft/example_outputs/*
